# Sample .env file that defines environment variables for docker-compose.yml.
# Copy env.sample file to .env, update and uncomment variables below as needed.
# The .env file should always exist in .gitignore.

#SERVER_FORWARD_HEADERS_STRATEGY=NATIVE
#PATGENFRONTEND_EXTERNAL_URL=https://patgen-frontend.example.com
#PATGENBACKEND_EXTERNAL_URL=https://patgen-backend.example.com
#ZIPCODESERVICE_EXTERNAL_URL=https://zipcode-service.example.com